<!--<?xml version = "1.0" encoding = "UTF-8"?>-->
<!--<beans xmlns = "http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xsi:schemaLocation = "http://www.springframework.org/schema/beans-->
   <!--http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">-->

    <!--&lt;!&ndash; Initialization for data source &ndash;&gt;-->
    <!--<bean id="dataSource"-->
          <!--class = "org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<property name = "driverClassName" value = "com.mysql.jdbc.Driver"/>-->
        <!--<property name = "url" value = "jdbc:mysql://localhost:3306/did"/>-->
        <!--<property name = "username" value = "root"/>-->
        <!--<property name = "password" value = "123456"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; Definition for StudentDao bean &ndash;&gt;-->
    <!--<bean id = "studentDao"-->
          <!--class = "dao.StudentDao">-->
        <!--<property name = "dataSource" ref = "dataSource" />-->
    <!--</bean>-->

    <!--&lt;!&ndash; Definition for EmployeeDao bean &ndash;&gt;-->
    <!--<bean id = "employeeDao"-->
          <!--class = "dao.EmployeeDao">-->
        <!--<property name = "dataSource" ref = "dataSource" />-->
    <!--</bean>-->

<!--</beans>-->